body{
    background-image:url(https://images.unsplash.com/photo-1446776858070-70c3d5ed6758?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
/* <=============== start navbar ===============> */
nav {
    backdrop-filter: blur(50px);
    background: transparent;
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 10000;
}
nav p:hover {
    font-weight: 600;
    cursor: pointer;
}

nav .logo {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    margin-left: 50px;
    color: white;
    width: 400px;
}

nav ul {
    list-style: none;
    text-align: right;
    width: 77%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav .dropdown {
    margin-right: 10px;
    color: white;
    width: 300px;
    margin-left: 50px;
    align-items: center;
}

.menu-wrap {
    backdrop-filter: blur(50px);
    background: transparent;
    position: absolute;
    top: 100%;
    right: 0;
    width: 260px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    justify-content: space-between;
}
.menu-wrap.open-menu {
    max-height: 480px;
}
.sub-menu {
    background: transparent;
    backdrop-filter: blur(50px);
    justify-content: space-between;
    background-color: #7a9eb54c;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.menu-info {
    text-align: center;
    padding: 5px 30px;
}
.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: aquamarine;
    margin: 15px 0 10px;
}
.sub-menu-link {
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    align-items: center;
}
.sub-menu i {
    margin-right: 10px;
}

.sub-menu-link p {
    width: 100%;
    transition: ease 0.5s;
}
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.3s;
}
.sub-menu-link:hover p {
    font-weight: 600;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}
/* <=============== End navbar ===============> */